body {
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

    .container {
      max-width: 1440px;
      margin: 0 auto;
    }
    .nav-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
    }
    .nav-link {
      padding: 0 20px;
      line-height: 40px;
      transition: .3s;
    }
    .main-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .section {
      width: 50%;
    }
   .logo-holder {
        
   width: 100px;
   height: 50px;
         }
         
       #footer{
      height: 150px;
      width: 760px;
       margin: 0px auto;
       
   }
   img{
    display: block;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    
   }
   html {
    scroll-behavior: smooth; 
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #191919;
  }
  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #808000;
  }
  header{
    font-family: 'Roboto', sans-serif;
    font-size: 14px
    }

.page-footer{
  display: inline;
  justify-content: space-evenly;
  align-items: stretch ;
  background-color: rgb(131, 160, 135);
  height: 150px;
  width: 760px;
      ;
}